<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>About</h1>
        <div>
            This tutorial has been put together by Jack Warnock <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static "images/download.jpg" %}" alt="Picture of Rango" />
            <img src="{{ MEDIA_URL }}cat.jpg" alt="A cat." />
        </div>
    </body>

</html>